@include breakpoint(0, $mobile) {
    #hamburger {
        width: 24px;
        height: 16px;
        position: absolute;
        right: 1.25rem;
        top: 1.25rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 5;

        [class^=line-] {
            background-color: $clr-primary-500;
            width: 100%;
            height: 1px;
            position: absolute;
            transition: transform .5s ease;
        }

        &.hover {
            cursor: pointer;
        }

        .line-1 {
            top: 0;
        }

        .line-3 {
            top: 8px;
            width: 70%;
            margin-left: 30%;
        }

        &.open {
            .line-1 {
                transform: rotate(45deg);
                transform-origin: 0 0;
            }

            .line-3 {
                transform: rotate(-45deg) translate(11px, 5px);
                transform-origin: 0px 18px;
                width: 100%;
                top: 16px;
                margin-left: 0%;
            }
        }

        &.closed+ul {
            transform: translateX(100%);
            transition: transform 0.6s cubic-bezier(.68, -0.55, .27, 1.55);
        }
    }
}

@include breakpoint($desktop) {
    #hamburger {
        display: none;
    }
}